.App {
  text-align: center;
}

/* Navbar */
.navbar{
  height: 50px;
  background-color: #FFE81F;
  display: flex;
  justify-content: center;
  font-weight: bold;
  transition: font-weight 0.2s ease;
  padding: auto;
}

.navbar a{
  margin: auto 20px;
  color: rgb(40, 40, 40);
  text-decoration: none;
  font-size: 20px;
}

.navbar a:hover {
  color: rgb(0, 0, 0);
}

.navbar a.active {
  color: rgb(0, 0, 0);
}

/* Home */
.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 68px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
  z-index: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.content-home {
  position: relative;
  z-index: 2;
  color:#FFE81F;
  text-align: center;
  margin-bottom: 30px;
}

.content-home h1 {
  margin: auto;
  margin-bottom: 0.4em;
  font-size: 68px;
  max-width: 700px;
}

.go-to-blog-button {
  background-color: #FFE81F;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  display: flex;
  width: 140px;
  height: 48px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: auto;
  padding-bottom: auto;
  align-items: center;
  border-radius: 28px;
}

.go-to-blog-button:hover {
  background-color: #9c8f13;
  transition: 0.2s ease;
}

/* Card */
.App .card{
  background-color: rgb(0, 0, 0);
  display: inline-table;
  margin: 15px 15px;
  width: 280px;
}

.card img{
  width: 100%;
  height: 280px;
}

.card-link{
  color: #FFE81F;
  text-decoration: none;
}

.card-link:hover{
  color: #9c8f13;
  transition: 0.2s ease;
}

/* Filter */
.filter {
  margin: 30px auto 15px;
  padding: 20px;
  display: inline;
}

.filter p {
  display: inline;
  margin-right: 10px;
}

/* Post */
.img-post {
  width: 400px;
  height: auto;
  max-height: auto;
  max-width: 100%;
}

.text-post {
  max-width: 800px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* Author */
.img-author {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  max-width: 100%;
  max-height: 500px;
}

.author-link {
  color:#FFE81F;
  text-decoration: underline;
}

.author-link:hover {
  color: #9c8f13;
  transition: 0.2s ease;
}

/* Contact */
.img-contact {
  margin-top: 50px;
  width: 320px;
  height: 320px;
}